<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brew Haven</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
 </head>
<body>
    <nav>
        <h1><a href="{{ url_for('home') }}">Brew Haven</a></h1>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('menu') }}">Menu</a></li>
            <li><a href="{{ url_for('view_feedback') }}">Feedback</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Brew Haven. All rights reserved.</p>
    </footer>
</body>
</html>
